{% extends "main_layout.html" %}
{% block content %}

    <!-- main-area -->
    <main class="fix">

        <!-- breadcrumb-area -->
        <section class="breadcrumb__area breadcrumb__bg" data-background="assets/img/bg/breadcrumb_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb__content">
                            <h1 class="title">About Us</h1>
                            <nav class="breadcrumb">
                                <span property="itemListElement" typeof="ListItem">
                                    <a href="index.html">Home</a>
                                </span>
                                <span class="breadcrumb-separator"><i class="flaticon-right-arrow"></i></span>
                                <span property="itemListElement" typeof="ListItem">About Us</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb-area-end -->

        <!-- about-area -->
        <section class="about__area-two section-py-120">
            <div class="container">
                <div class="row align-items-center justify-content-center gutter-24">
                    <div class="col-lg-6 col-md-9">
                        <div class="about__img-two">
                            <img src="assets/img/images/inner_about_img01.jpg" alt="img" data-aos="fade-right" data-aos-delay="400">
                            <img src="assets/img/images/inner_about_img02.jpg" alt="img" data-aos="fade-up" data-aos-delay="600">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about__content-two">
                            <div class="section__title section__title-two mb-20">
                                <span class="sub-title">About Logistics Company</span>
                                <h2 class="title">Reliable Logistic & Transport Solutions Saves Your Time!</h2>
                            </div>
                            <p class="info-one">adipiscing elit. Aliquam vulputate, tortor nec com ultri viverra Suspen disse faucibus sed dolor eget Sed id urna. hiftler Group irepresentatilve loisticsti operator providings.</p>
                            <div class="about__content-inner">
                                <div class="about__list-box about__list-box-two">
                                    <ul class="list-wrap">
                                        <li><i class="flaticon-check"></i>Quality Control System</li>
                                        <li><i class="flaticon-check"></i>100% Satisfaction Guarantee</li>
                                        <li><i class="flaticon-check"></i>Professional and Qualified</li>
                                        <li><i class="flaticon-check"></i>Safe, Reliable And Express</li>
                                    </ul>
                                </div>
                                <div class="about__clients-box">
                                    <span>Flexible, Improved & Accelerated Solutions!</span>
                                    <div class="counter__item">
                                        <div class="counter__icon">
                                            <i class="flaticon-planet-earth"></i>
                                        </div>
                                        <div class="counter__content">
                                            <h2 class="count"><span class="counter-number">15.9</span>M</h2>
                                            <p>Clients Worldwide</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p>Modeniscing elit. Aliquam vulputate, tortor nec com ultri viverra Suspen disse faucibus sed dolor eget Sed id urna. hiftler Group irepresentatilve loisticsti operator providings.Modeniscing elit. Aliquam vulputate, tortor nec com ultri viverra Suspen disse faucibus sed dolor eget.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-area-end -->

        <!-- features-area -->
        <section class="features__area section-pb-90">
            <div class="container">
                <div class="row justify-content-center gutter-24">
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="features__item">
                            <div class="features__icon">
                                <i class="flaticon-warehouse-1"></i>
                            </div>
                            <div class="features__content">
                                <h2 class="title">Warehouse</h2>
                                <p>When an unknown printer took a galley typeat better future.</p>
                                <h2 class="number">01</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                        <div class="features__item">
                            <div class="features__icon">
                                <i class="flaticon-air-freight"></i>
                            </div>
                            <div class="features__content">
                                <h2 class="title">Air Freight</h2>
                                <p>When an unknown printer took a galley typeat better future.</p>
                                <h2 class="number">02</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="800">
                        <div class="features__item">
                            <div class="features__icon">
                                <i class="flaticon-ship"></i>
                            </div>
                            <div class="features__content">
                                <h2 class="title">Ship Cargo</h2>
                                <p>When an unknown printer took a galley typeat better future.</p>
                                <h2 class="number">03</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="features__shape">
                <img src="assets/img/images/features_shape.png" alt="shape" data-aos="fade-left" data-aos-delay="400">
            </div>
        </section>
        <!-- features-area-end -->

        <!-- video-area -->
        <section class="video__area-two section-py-140">
            <div class="video__bg video__bg-two" data-background="assets/img/bg/video_bg02.jpg"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-6 order-0 order-lg-2">
                        <div class="video__play-btn video__play-btn-two">
                            <a href="http://www.youtube.com/watch?v=1iIZeIy7TqM" class="play-btn popup-video"><i class="fas fa-play"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6">
                        <div class="video__content">
                            <div class="section__title white-title mb-30">
                                <span class="sub-title">Customer Teams & An Agile Services</span>
                                <h2 class="title">From Blueprint To Reality, We Deliver</h2>
                            </div>
                            <div class="progress__wrap progress__wrap-two">
                                <div class="progress__item progress__item-two">
                                    <div class="progress__item-top">
                                        <h3 class="progress__title">Successful Delivery</h3>
                                        <div class="progress-value"><span class="counter-number">82</span>%</div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 82%;"></div>
                                    </div>
                                </div>
                                <div class="progress__item progress__item-two">
                                    <div class="progress__item-top">
                                        <h3 class="progress__title">Happy Customers</h3>
                                        <div class="progress-value"><span class="counter-number">90</span>%</div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 90%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- video-area-end -->

        <!-- counter-area -->
        <section class="counter__area counter__bg section-pt-120 section-pb-90" data-background="assets/img/bg/vector_bg05.svg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="counter__item-two">
                            <div class="counter__icon-two">
                                <i class="flaticon-air-plane"></i>
                            </div>
                            <div class="counter__content-two">
                                <h2 class="count"><span class="counter-number">165</span>+</h2>
                                <p>Product delivery</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="counter__item-two">
                            <div class="counter__icon-two">
                                <i class="flaticon-parcels"></i>
                            </div>
                            <div class="counter__content-two">
                                <h2 class="count"><span class="counter-number">42</span>+</h2>
                                <p>Winning Awards</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="counter__item-two">
                            <div class="counter__icon-two">
                                <i class="flaticon-parcel"></i>
                            </div>
                            <div class="counter__content-two">
                                <h2 class="count"><span class="counter-number">30</span>+</h2>
                                <p>Years Experience</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="counter__item-two">
                            <div class="counter__icon-two">
                                <i class="flaticon-protected"></i>
                            </div>
                            <div class="counter__content-two">
                                <h2 class="count"><span class="counter-number">65</span>+</h2>
                                <p>Secure Parcel</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- counter-area-end -->

        <!-- pricing-area -->
        <!-- <section class="pricing__area grey-bg section-pt-120 section-pb-90">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-lg-6">
                        <div class="section__title section__title-two text-center mb-40">
                            <span class="sub-title">Affordable Pricing Table</span>
                            <h2 class="title">We Provide Effective Logistics Solution</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center gutter-24">
                    <div class="col-lg-4 col-md-6">
                        <div class="pricing__box" data-aos="fade-up" data-aos-delay="200">
                            <div class="pricing__top">
                                <h4 class="title">Basic Plan</h4>
                            </div>
                            <div class="pricing__price">
                                <h2 class="price"><span>$</span>15 <strong>/ Month</strong></h2>
                            </div>
                            <div class="pricing__content">
                                <p>Dorem ipsum dolor sit amet consect adipisicing elied do eiusmod</p>
                            </div>
                            <ul class="list-wrap pricing__list">
                                <li><i class="flaticon-check"></i>5000 User Activities</li>
                                <li><i class="flaticon-check"></i>Unlimited Access</li>
                                <li><i class="flaticon-check"></i>No Hidden Charge</li>
                                <li><i class="flaticon-check"></i>03 Time Updates</li>
                                <li><i class="flaticon-check"></i>Figma Source File</li>
                            </ul>
                            <div class="pricing__btn">
                                <a href="#" class="btn">Purchase Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="pricing__box" data-aos="fade-up" data-aos-delay="400">
                            <div class="pricing__top">
                                <h4 class="title">Standard Plan</h4>
                            </div>
                            <div class="pricing__price">
                                <h2 class="price"><span>$</span>49 <strong>/ Month</strong></h2>
                            </div>
                            <div class="pricing__content">
                                <p>Dorem ipsum dolor sit amet consect adipisicing elied do eiusmod</p>
                            </div>
                            <ul class="list-wrap pricing__list">
                                <li><i class="flaticon-check"></i>5000 User Activities</li>
                                <li><i class="flaticon-check"></i>Unlimited Access</li>
                                <li><i class="flaticon-check"></i>No Hidden Charge</li>
                                <li><i class="flaticon-check"></i>03 Time Updates</li>
                                <li><i class="flaticon-check"></i>Figma Source File</li>
                            </ul>
                            <div class="pricing__btn">
                                <a href="#" class="btn">Purchase Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="pricing__box" data-aos="fade-up" data-aos-delay="600">
                            <div class="pricing__top">
                                <h4 class="title">Enterprise Plan</h4>
                            </div>
                            <div class="pricing__price">
                                <h2 class="price"><span>$</span>99 <strong>/ Month</strong></h2>
                            </div>
                            <div class="pricing__content">
                                <p>Dorem ipsum dolor sit amet consect adipisicing elied do eiusmod</p>
                            </div>
                            <ul class="list-wrap pricing__list">
                                <li><i class="flaticon-check"></i>5000 User Activities</li>
                                <li><i class="flaticon-check"></i>Unlimited Access</li>
                                <li><i class="flaticon-check"></i>No Hidden Charge</li>
                                <li><i class="flaticon-check"></i>03 Time Updates</li>
                                <li><i class="flaticon-check"></i>Figma Source File</li>
                            </ul>
                            <div class="pricing__btn">
                                <a href="#" class="btn">Purchase Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- pricing-area-end -->

        <!-- team-area -->
        <!-- <section class="team__area fix section-pt-130 section-pb-100">
            <div class="team__bg" data-background="assets/img/bg/team_bg.jpg"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section__title white-title text-center mb-45">
                            <span class="sub-title">Our Team Member</span>
                            <h2 class="title">Meet Our Executive People</h2>
                        </div>
                    </div>
                </div>
                <div class="row gutter-24">
                    <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="team__item">
                            <div class="team__thumb">
                                <img src="assets/img/team/team_img01.png" alt="img">
                            </div>
                            <div class="team__content">
                                <h2 class="title"><a href="team-details.html">Kristin Watson</a></h2>
                                <span>Investment Department</span>
                                <ul class="list-wrap team__social">
                                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://twitter.com/home" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://www.pinterest.com/" target="_blank"><i class="fab fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="team__item">
                            <div class="team__thumb">
                                <img src="assets/img/team/team_img02.png" alt="img">
                            </div>
                            <div class="team__content">
                                <h2 class="title"><a href="team-details.html">Guy Hawkins</a></h2>
                                <span>Investment Department</span>
                                <ul class="list-wrap team__social">
                                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://twitter.com/home" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://www.pinterest.com/" target="_blank"><i class="fab fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="600">
                        <div class="team__item">
                            <div class="team__thumb">
                                <img src="assets/img/team/team_img03.png" alt="img">
                            </div>
                            <div class="team__content">
                                <h2 class="title"><a href="team-details.html">Wade Warren</a></h2>
                                <span>Investment Department</span>
                                <ul class="list-wrap team__social">
                                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://twitter.com/home" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://www.pinterest.com/" target="_blank"><i class="fab fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="800">
                        <div class="team__item">
                            <div class="team__thumb">
                                <img src="assets/img/team/team_img04.png" alt="img">
                            </div>
                            <div class="team__content">
                                <h2 class="title"><a href="team-details.html">Jenny Wilson</a></h2>
                                <span>Investment Department</span>
                                <ul class="list-wrap team__social">
                                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://twitter.com/home" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://www.pinterest.com/" target="_blank"><i class="fab fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team__shape">
                <img src="assets/img/team/team_shape.svg" alt="shape" data-aos="fade-down" data-aos-delay="600">
            </div>
        </section> -->
        <!-- team-area-end -->

        <!-- testimonial-area -->
        <!-- <section class="testimonial__area-two section-pb-130">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9 col-lg-10">
                        <div class="testimonial__wrap fix">
                            <div class="testimonial__icon testimonial__icon-two">
                                <img src="assets/img/icon/quote.svg" alt="" class="injectable">
                            </div>
                            <div class="testimonial-slider-dot">
                                <div class="swiper testimonial__nav">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <button><img src="assets/img/images/author01.png" alt="img"></button>
                                        </div>
                                        <div class="swiper-slide">
                                            <button><img src="assets/img/images/author02.png" alt="img"></button>
                                        </div>
                                        <div class="swiper-slide">
                                            <button><img src="assets/img/images/author03.png" alt="img"></button>
                                        </div>
                                        <div class="swiper-slide">
                                            <button><img src="assets/img/images/author04.png" alt="img"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper testimonial-active">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="testimonial__item">
                                            <div class="testimonial__info">
                                                <h2 class="name">Ralph Edwards</h2>
                                                <span>CEO, logistex Agency</span>
                                            </div>
                                            <div class="testimonial__rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="testimonial__content testimonial__content-two">
                                                <p>“ Morem ipsum dolor sit amet, consectetur adipisc Service follwing arrea fowlwo awing elita florai sum dolor sit amet, consectetur area raweaeaw ecall edBorem ipsum dolor sit amet, consectetur.”</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="testimonial__item">
                                            <div class="testimonial__info">
                                                <h2 class="name">Jone Cooper</h2>
                                                <span>CEO, logistex Agency</span>
                                            </div>
                                            <div class="testimonial__rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="testimonial__content testimonial__content-two">
                                                <p>“ Morem ipsum dolor sit amet, consectetur adipisc Service follwing arrea fowlwo awing elita florai sum dolor sit amet, consectetur area raweaeaw ecall edBorem ipsum dolor sit amet, consectetur.”</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="testimonial__item">
                                            <div class="testimonial__info">
                                                <h2 class="name">Eleanor Pena</h2>
                                                <span>CEO, logistex Agency</span>
                                            </div>
                                            <div class="testimonial__rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="testimonial__content testimonial__content-two">
                                                <p>“ Morem ipsum dolor sit amet, consectetur adipisc Service follwing arrea fowlwo awing elita florai sum dolor sit amet, consectetur area raweaeaw ecall edBorem ipsum dolor sit amet, consectetur.”</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="testimonial__item">
                                            <div class="testimonial__info">
                                                <h2 class="name">Floyd Miles</h2>
                                                <span>CEO, logistex Agency</span>
                                            </div>
                                            <div class="testimonial__rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="testimonial__content testimonial__content-two">
                                                <p>“ Morem ipsum dolor sit amet, consectetur adipisc Service follwing arrea fowlwo awing elita florai sum dolor sit amet, consectetur area raweaeaw ecall edBorem ipsum dolor sit amet, consectetur.”</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial__nav-wrap testimonial__nav-wrap-two">
                                    <button class="testimonial-button-prev">
                                        <i class="flaticon-left-arrow"></i>
                                    </button>
                                    <button class="testimonial-button-next">
                                        <i class="flaticon-right-arrow"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- testimonial-area-end -->

        <!-- brand-area -->
        <!-- <div class="brand__area">
            <div class="container">
                <div class="swiper brand-active fix">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="brand__item">
                                <img src="assets/img/brand/brand_img01.png" alt="img">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand__item">
                                <img src="assets/img/brand/brand_img02.png" alt="img">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand__item">
                                <img src="assets/img/brand/brand_img03.png" alt="img">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand__item">
                                <img src="assets/img/brand/brand_img04.png" alt="img">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand__item">
                                <img src="assets/img/brand/brand_img05.png" alt="img">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand__item">
                                <img src="assets/img/brand/brand_img06.png" alt="img">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand__item">
                                <img src="assets/img/brand/brand_img04.png" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- brand-area-end -->

    </main>
    <!-- main-area-end -->

    <!-- footer-area -->
  {% endblock %}