{% extends "admin_layout.html"%}
{% block content %}

<div class="container m-5 p-5 me-5 center">
    <div class="row">
        <div class="col-xxl-4 p-4 col-md-6 shadow border">
            <form action="{{ url_for('adminprofile') }}"  method="post" enctype="multipart/form-data">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="profile_picture">Upload Profile Picture</label>
                        <input type="file" class="form-control" id="profile_picture" name="profile_picture" accept="image/*">
                    </div>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
    
                <div class="mb-3">
                  <label for="admin" class="form-label">Admin</label>
                  <input type="text"  class="form-control" name="sname" value="{{session['sname']}}" required="">
                </div>
                <div class="mb-3">
                  <label for="admin" class="form-label">Phone</label>
                  <input type="text"  class="form-control" name="sphone" value="{{session['sphone']}}" placeholder="Your Name" required="">
                </div>
                <div class="mb-3">
                  <label for="example@gmail.com"  class="form-label">Email</label>
                  <input type="email" class="form-control" value="{{session['semail']}}" disabled name="semail">
                </div>
                <div class="mb-3">
                    <label for="example@gmail.com"  class="form-label">Old password</label>
                    <input type="password" class="form-control" value="" name="spwd">
                  </div>
                  <div class="mb-3">
                    <label for="example@gmail.com"  class="form-label">New password</label>
                    <input type="email" class="form-control" value="" name="spwd">
                  </div>
                <button type="submit" class="btn btn-success">UPDATE</button>
              </form>
        </div>
    </div>
</div>

{% endblock %}