{% extends "main_layout.html" %}
{% block content %}

    <!-- main-area -->
    <main class="fix">

        <!-- breadcrumb-area -->
        <section class="breadcrumb__area breadcrumb__bg" data-background="assets/img/bg/breadcrumb_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb__content">
                            <h1 class="title">Our Blog</h1>
                            <nav class="breadcrumb">
                                <span property="itemListElement" typeof="ListItem">
                                    <a href="index.html">Home</a>
                                </span>
                                <span class="breadcrumb-separator"><i class="flaticon-right-arrow"></i></span>
                                <span property="itemListElement" typeof="ListItem">Blogs</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb-area-end -->

        <!-- blog-area -->
        <section class="blog-area section-py-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="blog__post-item shine__animate-item">
                                    <div class="blog__post-thumb blog__post-thumb-two">
                                        <a href="blog-details.html" class="shine__animate-link"><img src="assets/img/blog/h2_blog_img01.jpg" alt="img"></a>
                                        <a href="blog.html" class="post-tag">Air Freight</a>
                                    </div>
                                    <div class="blog__post-content blog__post-content-two">
                                        <div class="blog__meta blog__meta-two">
                                            <ul class="list-wrap">
                                                <li><i class="flaticon-calendar"></i>25 Nov, 2024</li>
                                            </ul>
                                        </div>
                                        <h3 class="title"><a href="blog-details.html">Importers achieve savings through the First Sale rule!</a></h3>
                                        <a href="services.html" class="btn btn-two">Read More <img src="assets/img/icon/right_arrow.svg" alt="" class="injectable"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="blog__post-item shine__animate-item">
                                    <div class="blog__post-thumb blog__post-thumb-two">
                                        <a href="blog-details.html" class="shine__animate-link"><img src="assets/img/blog/h2_blog_img02.jpg" alt="img"></a>
                                        <a href="blog.html" class="post-tag">Warehouse</a>
                                    </div>
                                    <div class="blog__post-content blog__post-content-two">
                                        <div class="blog__meta blog__meta-two">
                                            <ul class="list-wrap">
                                                <li><i class="flaticon-calendar"></i>25 Nov, 2024</li>
                                            </ul>
                                        </div>
                                        <h3 class="title"><a href="blog-details.html">The Future of Logistics Emb racing Technology</a></h3>
                                        <a href="services.html" class="btn btn-two">Read More <img src="assets/img/icon/right_arrow.svg" alt="" class="injectable"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="blog__post-item shine__animate-item">
                                    <div class="blog__post-thumb blog__post-thumb-two">
                                        <a href="blog-details.html" class="shine__animate-link"><img src="assets/img/blog/h2_blog_img03.jpg" alt="img"></a>
                                        <a href="blog.html" class="post-tag">Cargo</a>
                                    </div>
                                    <div class="blog__post-content blog__post-content-two">
                                        <div class="blog__meta blog__meta-two">
                                            <ul class="list-wrap">
                                                <li><i class="flaticon-calendar"></i>25 Nov, 2024</li>
                                            </ul>
                                        </div>
                                        <h3 class="title"><a href="blog-details.html">Green Logistics Solutions for a Greener Future</a></h3>
                                        <a href="services.html" class="btn btn-two">Read More <img src="assets/img/icon/right_arrow.svg" alt="" class="injectable"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="blog__post-item shine__animate-item">
                                    <div class="blog__post-thumb blog__post-thumb-two">
                                        <a href="blog-details.html" class="shine__animate-link"><img src="assets/img/blog/blog_img01.jpg" alt="img"></a>
                                        <a href="blog.html" class="post-tag">Business</a>
                                    </div>
                                    <div class="blog__post-content blog__post-content-two">
                                        <div class="blog__meta blog__meta-two">
                                            <ul class="list-wrap">
                                                <li><i class="flaticon-calendar"></i>25 Nov, 2024</li>
                                            </ul>
                                        </div>
                                        <h3 class="title"><a href="blog-details.html">Importers achieve savings through the First Sale rule!</a></h3>
                                        <a href="services.html" class="btn btn-two">Read More <img src="assets/img/icon/right_arrow.svg" alt="" class="injectable"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="blog__post-item shine__animate-item">
                                    <div class="blog__post-thumb blog__post-thumb-two">
                                        <a href="blog-details.html" class="shine__animate-link"><img src="assets/img/blog/blog_img02.jpg" alt="img"></a>
                                        <a href="blog.html" class="post-tag">Ship</a>
                                    </div>
                                    <div class="blog__post-content blog__post-content-two">
                                        <div class="blog__meta blog__meta-two">
                                            <ul class="list-wrap">
                                                <li><i class="flaticon-calendar"></i>25 Nov, 2024</li>
                                            </ul>
                                        </div>
                                        <h3 class="title"><a href="blog-details.html">The Future of Logistics Emb racing Technology</a></h3>
                                        <a href="services.html" class="btn btn-two">Read More <img src="assets/img/icon/right_arrow.svg" alt="" class="injectable"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="blog__post-item shine__animate-item">
                                    <div class="blog__post-thumb blog__post-thumb-two">
                                        <a href="blog-details.html" class="shine__animate-link"><img src="assets/img/blog/blog_img03.jpg" alt="img"></a>
                                        <a href="blog.html" class="post-tag">Warehouse</a>
                                    </div>
                                    <div class="blog__post-content blog__post-content-two">
                                        <div class="blog__meta blog__meta-two">
                                            <ul class="list-wrap">
                                                <li><i class="flaticon-calendar"></i>25 Nov, 2024</li>
                                            </ul>
                                        </div>
                                        <h3 class="title"><a href="blog-details.html">Moving your products across all borders.</a></h3>
                                        <a href="services.html" class="btn btn-two">Read More <img src="assets/img/icon/right_arrow.svg" alt="" class="injectable"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav class="pagination__wrap mt-25">
                            <ul class="list-wrap">
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="blog.html">2</a></li>
                                <li><a href="blog.html">3</a></li>
                                <li><a href="blog.html">4</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-4">
                        <aside class="blog-sidebar">
                            <div class="blog-widget widget_search">
                                <div class="sidebar-search-form">
                                    <form action="#">
                                        <input type="text" placeholder="Search here">
                                        <button><i class="flaticon-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="blog-widget">
                                <h4 class="widget-title">Categories</h4>
                                <div class="shop-cat-list">
                                    <ul class="list-wrap">
                                        <li>
                                            <a href="blog.html">Ocean Freight <span>(05)</span></a>
                                        </li>
                                        <li>
                                            <a href="blog.html">Air Freight <span>(07)</span></a>
                                        </li>
                                        <li>
                                            <a href="blog.html">Road Freight <span>(03)</span></a>
                                        </li>
                                        <li>
                                            <a href="blog.html">Warehouse <span>(05)</span></a>
                                        </li>
                                        <li>
                                            <a href="blog.html">Cargo Freight <span>(02)</span></a>
                                        </li>
                                        <li>
                                            <a href="blog.html">Rail Freight <span>(08)</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="blog-widget">
                                <h4 class="widget-title">Latest Post</h4>
                                <div class="rc-post-item">
                                    <div class="rc-post-thumb">
                                        <a href="blog-details.html">
                                            <img src="assets/img/blog/blog_img01.jpg" alt="img">
                                        </a>
                                    </div>
                                    <div class="rc-post-content">
                                        <span class="date"><i class="flaticon-calendar"></i> 25 Nov, 2024</span>
                                        <h4 class="title"><a href="blog-details.html">the Right Learning Path for your</a></h4>
                                    </div>
                                </div>
                                <div class="rc-post-item">
                                    <div class="rc-post-thumb">
                                        <a href="blog-details.html">
                                            <img src="assets/img/blog/blog_img02.jpg" alt="img">
                                        </a>
                                    </div>
                                    <div class="rc-post-content">
                                        <span class="date"><i class="flaticon-calendar"></i> 25 Nov, 2024</span>
                                        <h4 class="title"><a href="blog-details.html">The Growing Need Management</a></h4>
                                    </div>
                                </div>
                                <div class="rc-post-item">
                                    <div class="rc-post-thumb">
                                        <a href="blog-details.html">
                                            <img src="assets/img/blog/blog_img03.jpg" alt="img">
                                        </a>
                                    </div>
                                    <div class="rc-post-content">
                                        <span class="date"><i class="flaticon-calendar"></i> 25 Nov, 2024</span>
                                        <h4 class="title"><a href="blog-details.html">the Right Learning Path for your</a></h4>
                                    </div>
                                </div>
                                <div class="rc-post-item">
                                    <div class="rc-post-thumb">
                                        <a href="blog-details.html">
                                            <img src="assets/img/blog/h2_blog_img01.jpg" alt="img">
                                        </a>
                                    </div>
                                    <div class="rc-post-content">
                                        <span class="date"><i class="flaticon-calendar"></i> 25 Nov, 2024</span>
                                        <h4 class="title"><a href="blog-details.html">The Growing Need Management</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-widget">
                                <h4 class="widget-title">Tags</h4>
                                <div class="tag-cloud">
                                    <a href="blog.html">Cargo</a>
                                    <a href="blog.html">Air Freight</a>
                                    <a href="blog.html">Shipping</a>
                                    <a href="blog.html">Freight</a>
                                    <a href="blog.html">Warehouse</a>
                                    <a href="blog.html">Marine</a>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
        <!-- blog-area-end -->

    </main>
    <!-- main-area-end -->

{% endblock %}
 