{% extends "main_layout.html" %}
{% block content %}

    <!-- main-area -->
    <main class="fix">

        <!-- breadcrumb-area -->
        <section class="breadcrumb__area breadcrumb__bg" data-background="assets/img/bg/breadcrumb_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb__content">
                            <h1 class="title">Who We Are</h1>
                            <nav class="breadcrumb">
                                <span property="itemListElement" typeof="ListItem">
                                    <a href="index.html">Home</a>
                                </span>
                                <span class="breadcrumb-separator"><i class="flaticon-right-arrow"></i></span>
                                <span property="itemListElement" typeof="ListItem">Who We Are</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb-area-end -->

        <!-- mission-area -->
        <section class="mission__area section-py-120">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="mission__inner-wrap">
                            <div class="mission__img wow img-custom-anim-right animated" data-wow-duration="1.5s" data-wow-delay="0.1s">
                                <img src="assets/img/images/mission_img.jpg" alt="img">
                            </div>
                            <div class="mission__content">
                                <div class="section__title section__title-two mb-20">
                                    <span class="sub-title">Company Mission</span>
                                    <h2 class="title">Delivering Monster for indutry leaders</h2>
                                </div>
                                <p>With over four decades experience providing solutions large scale enterprises throughout the globe we offer endend logistics tailored for specific markets.</p>
                                <div class="about__list-box about__list-box-two about__list-box-three">
                                    <ul class="list-wrap">
                                        <li><i class="flaticon-check"></i>Quality Control System</li>
                                        <li><i class="flaticon-check"></i>100% Satisfaction Guarantee</li>
                                        <li><i class="flaticon-check"></i>Professional and Qualified</li>
                                        <li><i class="flaticon-check"></i>Safe, Reliable And Express</li>
                                    </ul>
                                </div>
                                <div class="shape">
                                    <img src="assets/img/images/mission_shape.svg" alt="shape">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- mission-area-end -->

        <!-- vision-area -->
        <section class="vision__area section-pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="vision__inner-wrap">
                            <div class="vision__img wow img-custom-anim-left animated" data-wow-duration="1.5s" data-wow-delay="0.1s">
                                <img src="assets/img/images/vision_img.jpg" alt="img">
                            </div>
                            <div class="vision__content">
                                <div class="section__title section__title-two mb-25">
                                    <span class="sub-title">Company Vision</span>
                                    <h2 class="title">Our Next Level Logistics Around the World</h2>
                                </div>
                                <p>With over four decades experience providing solutions large scale enterprises throughout the globe we offer endend logistics tailored for specific markets.</p>
                                <div class="progress__wrap progress__wrap-three">
                                    <div class="progress__item progress__item-three">
                                        <div class="progress__item-top">
                                            <h3 class="progress__title">Successful Delivery</h3>
                                            <div class="progress-value"><span class="counter-number">82</span>%</div>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar" style="width: 82%;"></div>
                                        </div>
                                    </div>
                                    <div class="progress__item progress__item-three">
                                        <div class="progress__item-top">
                                            <h3 class="progress__title">Happy Customers</h3>
                                            <div class="progress-value"><span class="counter-number">90</span>%</div>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar" style="width: 90%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- vision-area-end -->

        <!-- cta-area -->
        <section class="cta__area">
            <div class="container">
                <div class="cta__wrap-two">
                    <div class="cta__img">
                        <img src="assets/img/images/cta_img.jpg" alt="img">
                    </div>
                    <div class="cta__content-two">
                        <div class="content__left">
                            <h2 class="title">Would you Like to get The Best Transport Services?</h2>
                            <p>Dapibus interdum senectus malesuada est nec morbi cursus.</p>
                        </div>
                        <div class="cta__btn-two">
                            <a href="contact.html" class="btn">Read More <img src="assets/img/icon/right_arrow.svg" alt="" class="injectable"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- cta-area-end -->

    </main>
    <!-- main-area-end -->

{% endblock %}